In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns

In [12]:
ship_Uncleaned = pd.read_csv("../Data_sets/Ship_Uncleaned.csv")
cleaned_ships = pd.read_csv("../Data_sets/Cleaned_ships_data.csv")
port_loc = pd.read_csv("../Data_sets/Port_locations.csv")

In [41]:
ship_Uncleaned.sample(100)

,Company_Name,ship_name,built_year,gt,dwt,size
2165,CARNIVAL CONQUEST,Passenger (Cruise) Ship,2002,110475,10000,290 / 36
1294,THESEUS,Container Ship,2016,149210,153594,369 / 51
2718,MEIN SCHIFF 3,Passenger (Cruise) Ship,2014,99526,7900,293 / 42
3154,DISHA,LNG Tanker,2004,94058,81097,277 / 43
1278,MSC VIRGO,Container Ship,2020,149525,158097,366 / 48
...,...,...,...,...,...,...
3102,JUDITH SCHULTE,Container Ship,2013,94402,111861,300 / 48
2540,NETADOLA,Bulk Carrier,2007,104721,206312,300 / 50
2857,CMA CGM JEAN GABRIEL,Container Ship,2018,96223,110200,300 / 48
1277,MSC VIRGO,Container Ship,2020,149525,158097,366 / 48
3800,CASTA DIVA,Bulk Carrier,2011,91373,177807,292 / 45

## Summary of the Data

### Built: 
#### This refers to the year in which the ship was constructed or built. For example, in the provided data, both ships were built in the year 2023.

### GT (Gross Tonnage): 
#### Gross Tonnage is a measure of the total internal volume of a ship, including all enclosed spaces. It is used to determine various regulatory and operational aspects, such as registration fees, safety regulations, and manning requirements. It does not directly represent the weight of the ship or cargo capacity.

### DWT (Deadweight Tonnage): 
#### The deadweight Tonnage is the total weight a ship can safely carry, including cargo, fuel, crew, provisions, etc. It represents the maximum load-carrying capacity of the vessel and is used to calculate freight rates and efficiency.

### Length: 
#### Refers length of the ship

### Width: 
#### Refers width of the ship

### Ship_name:
#### Refers the Ship name from the particular tables.

### Company_name:
#### refers the company name for which the ship is transporting goods

## Column Types
### Numerical - built_year, gt, dwt, length, width
### Categorical - ship_name
### Mixed - Company_name, size, country, port_name, locode